/* --- basics --- */
* {
  box-sizing: border-box; }

html {
  min-height: 100%;
  box-shadow: inset 0 0 10em #eee5d0; }

body {
  font-family: arial;
  background-color: #f8f8ff;
  padding: 2em;
  margin: 0; }

section {
  margin: 3em 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

.nice-text {
  font-family: 'Finger Paint', cursive;
  font-size: 24px;
  color: #181818; }
  .nice-text strong {
    display: block;
    color: black;
    font-size: 250%;
    -webkit-transform: rotate(-2deg); }

/* --- colors --- */
/* --- list layout --- */
/* --- Table layout --- */
.items {
  width: 100%;
  border-collapse: collapse; }
  .items .column-names {
    color: #a9a9a9;
    font-size: .75em;
    margin-bottom: 3px; }
    .items .column-names th {
      padding-bottom: 1em;
      text-align: left; }

.item:hover {
  background-color: rgba(200, 200, 0, 0.03); }
.item.good .item_name {
  background-color: #7cd915; }
.item.uncertain .item_name {
  background-color: #f2e937; }
.item.bad .item_name {
  background-color: #e26529; }
.item td {
  border-radius: 0;
  vertical-align: middle;
  padding-top: 0.25em;
  color: gray; }
  .item td.item_name {
    padding: .25em .75em;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 0.5em 0;
    color: black;
    font-weight: bold; }
    .item td.item_name a {
      text-decoration: none;
      color: black; }
  .item td.remove {
    padding: 0 0.75em;
    text-align: left; }
    .item td.remove a {
      display: block;
      color: black;
      text-decoration: none;
      opacity: 0.1; }
      .item td.remove a:hover {
        opacity: 1; }

/* --- Controls --- */
.controls {
  margin-top: 2em;
  text-align: center; }

/* --- Form --- */
form {
  width: 100%;
  margin: 1em 0; }
  form input[type=text] {
    outline: none;
    font-size: 1em;
    font-family: consolas;
    border: none;
    border-bottom: 1px dotted gray;
    background: none; }

/* --- legend layout --- */
.legend {
  margin: 1em;
  text-align: left;
  border-top: 1px dotted gray; }
  .legend * {
    color: #333;
    font-size: 85%; }
  .legend .silent {
    font-size: 75%; }
  .legend span {
    padding: .25em .75em;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 3px; }
    .legend span.good {
      background-color: #7cd915; }
    .legend span.uncertain {
      background-color: #f2e937; }
    .legend span.bad {
      background-color: #e26529; }

/* --- Loader ---*/
.loader {
  display: block;
  text-align: center; }
  .loader span {
    padding: .25em .75em;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 3px;
    display: inline-block;
    background-color: #7cd915;
    border-radius: 3px;
    margin-right: 0.25em;
    width: 10%;
    -webkit-animation: loader 1s ease-in-out infinite; }
    .loader span:nth-of-type(1) {
      -webkit-animation-delay: 0; }
    .loader span:nth-of-type(2) {
      -webkit-animation-delay: 100ms; }
    .loader span:nth-of-type(3) {
      -webkit-animation-delay: 200ms; }
    .loader span:nth-of-type(4) {
      -webkit-animation-delay: 300ms; }
    .loader span:nth-of-type(5) {
      -webkit-animation-delay: 400ms; }
    .loader span:nth-of-type(6) {
      -webkit-animation-delay: 500ms; }
    .loader span:nth-of-type(7) {
      -webkit-animation-delay: 600ms; }
    .loader span:nth-of-type(8) {
      -webkit-animation-delay: 700ms; }
    .loader span:nth-of-type(9) {
      -webkit-animation-delay: 800ms; }
    .loader span:nth-of-type(10) {
      -webkit-animation-delay: 900ms; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1, 1); }

  50% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5; } }
