
/* --- basics --- */
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  box-shadow: inset 0 0 10em #eee5d0;
}

body {
  font-family: arial;
  background-color: #f8f8ff;
  padding: 2em;
  margin: 0;

}

section {
  margin: 3em 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.nice-text {
  font-family: 'Finger Paint', cursive;
  font-size: 24px;
  color: #181818;

  strong {
    display: block;
    color: black;
    font-size: 250%;
    -webkit-transform:rotate(-2deg);
  }
}


/* --- colors --- */
$red: #e26529;
$yellow: #F2E937;
$green: #7cd915;


/* --- list layout --- */

@mixin item {
  padding: .25em .75em;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 3px;
}


/* --- Table layout --- */
.items {
  width: 100%;
  border-collapse: collapse;

  .column-names {
    color: #a9a9a9;
    font-size: .75em;
    margin-bottom: 3px;

    th {
      padding-bottom: 1em;
      text-align: left;
    }
  }
}

.item {

  &:hover {
    background-color: rgba(200, 200, 0, 0.03);
  }

  &.good {
    .item_name {background-color: $green;}
  }
  &.uncertain {
    .item_name {background-color: $yellow;}
  }
  &.bad {
    .item_name {background-color: $red;}
  }

  td {
    border-radius: 0;
    vertical-align: middle;
    padding-top: 0.25em;
    color: gray;

    &.item_name {
      @include item;

      display: inline-block;
      margin: 0.5em 0;
      color: black;
      font-weight: bold;

      a {
        text-decoration: none;
        color: black;
      }
    }

    &.remove {
      padding: 0 0.75em;
      text-align: left;

      a {
        display: block;
        color: black;
        text-decoration: none;
        opacity: 0.1;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


/* --- Controls --- */
.controls {
  margin-top: 2em;
  text-align: center;
}

/* --- Form --- */
form {
  width: 100%;
  margin: 1em 0;

  input[type=text] {
    outline: none;
    font-size: 1em;
    font-family: consolas;
    border: none;
    border-bottom: 1px dotted gray;
    background: none;
  }
}


/* --- legend layout --- */
.legend {
  margin: 1em;
  text-align: left;
  border-top: 1px dotted gray;

  * {
    color: #333;
    font-size: 85%;
  }

  .silent {
    font-size: 75%;
  }

  span {
    @include item;

    &.good {background-color: $green;}
    &.uncertain {background-color: $yellow;}
    &.bad {background-color: $red;}
  }

}

/* --- Loader ---*/

.loader {
  display: block;
  text-align: center;
  & span {
    @include item;

    display: inline-block;
    background-color: $green;
    border-radius: 3px;
    margin-right: 0.25em;
    width: 10%;
    -webkit-animation: loader 1s ease-in-out infinite;

    &:nth-of-type(1) {
      -webkit-animation-delay: 0;
    }
    &:nth-of-type(2) {
      -webkit-animation-delay: 100ms;
    }
    &:nth-of-type(3) {
      -webkit-animation-delay: 200ms
    }
    &:nth-of-type(4) {
      -webkit-animation-delay: 300ms
    }
    &:nth-of-type(5) {
      -webkit-animation-delay: 400ms
    }
    &:nth-of-type(6) {
      -webkit-animation-delay: 500ms
    }
    &:nth-of-type(7) {
      -webkit-animation-delay: 600ms
    }
    &:nth-of-type(8) {
      -webkit-animation-delay: 700ms
    }
    &:nth-of-type(9) {
      -webkit-animation-delay: 800ms
    }
    &:nth-of-type(10) {
      -webkit-animation-delay: 900ms
    }
  }

}

@-webkit-keyframes loader {
  0% {-webkit-transform: scale(1, 1)}
  50% {-webkit-transform: scale(0, 0); opacity: 0.5}
}
